/* INDEX.CSS --> QUI REGOLE DI STILE GLOBALI */

body {
  background-color: gainsboro;
}

img {
  max-width: 100%;
}

/* HEADER */

h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* MAIN */

.card {
  width: 600px;
}

.button {
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  padding: 10px 20px 10px 20px;
}

/* FOOTER */
footer {
  background-color: rgb(61, 61, 61);
  color: white;
  min-height: 10rem;
  margin-top: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
